h1 {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

button {
    width: 100%;
    margin-bottom: 20px !important;
}

.csv-message {
    margin-top: 10px;
    text-decoration: underline;
}

.csv-display {
    display: none;
}